@page "{productId:int}"
@model FunctionalityMatrixApp.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}
<div class="card">
    @if (Model.Pictures.Count() > 0)
    {
        <div class="slick-carousel">
            @foreach (var picture in Model.Pictures)
            {
                <img src="@picture" alt="Product picture"/>
            }
        </div>
    }
    <div class="card-body">
        <h3 class="card-title">@Model.Product.Name</h3>
        <p class="card-text"><small class="text-muted">by @Model.Product.Producer</small></p>


        <div class="card-deck">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    Product type:
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Product.ProductType</p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">
                    The parent product:
                </div>
                <div class="card-body">
                    @if (Model.Product.Parent != null)
                    {
                        <p class="card-text"><a asp-page="./Details" asp-route-productId="@Model.Product.Parent.Id">@Model.Product.Parent.Name</a></p>
                    }
                    else
                    {
                        <p class="card-text">No parent product</p>
                    }
                </div>
            </div>
        </div>
        @* Boolean informations *@
        <div class="card-deck">
            <div class="card bg-light mb-3">
                <div class="card-header">The industry in which it occurs:</div>
                <div class="card-body">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="Product.InFurniture" readonly disabled>
                        <label class="form-check-label" asp-for="Product.InFurniture">Furnitures</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="Product.InAutomotive" readonly disabled>
                        <label class="form-check-label" asp-for="Product.InAutomotive">Automotive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="Product.InFashion" readonly disabled>
                        <label class="form-check-label" asp-for="Product.InFashion">Fashion</label>
                    </div>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header">Product status:</div>
                <div class="card-body">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="Product.IsInDevelopment" readonly disabled>
                        <label class="form-check-label" asp-for="Product.IsInDevelopment">In development</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="Product.IsInOffer" readonly disabled>
                        <label class="form-check-label" asp-for="Product.IsInOffer">In offer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" asp-for="Product.IsAllcomp" readonly disabled>
                        <label class="form-check-label" asp-for="Product.IsAllcomp">Made by Allcomp</label>
                    </div>
                </div>
            </div>
        </div>

        @* Main content *@
        <div class="card bg-light mb-3">
            <div class="card-header">Content:</div>
            <div class="card-body">
                <p class="card-text">@Model.Product.Content</p>
            </div>
        </div>

        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    Child products:
                </div>
                <ul class="list-group list-group-flush">
                    @if (Model.ChildProducts.Count() > 0)
                    {
                        foreach (var child in Model.ChildProducts)
                        {
                            <li class="list-group-item"><a asp-page="./Details" asp-route-productId="@child.Id">@child.Name</a></li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">No child products</li>
                    }
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                    Attachments:
                </div>
                <ul class="list-group list-group-flush">
                    @if (Model.Attachments.Count() > 0)
                    {
                        foreach (var attachment in Model.Attachments)
                        {
                            <li class="list-group-item"><a href="@attachment">@attachment</a></li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">No attachments</li>
                    }
                </ul>
            </div>
        </div>

        <div class="mt-3">
            <a class="btn btn-outline-success" asp-page="./Edit" asp-route-productId="@Model.Product.Id">Edit product</a>
            <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-productId="@Model.Product.Id">Delete product</a>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.slick-carousel').slick({
                dots: true,
            })
        });
    </script>
}