@page "{userId}"
@model FunctionalityMatrixApp.Pages.AdminPanel.UserModel
@{
    ViewData["Title"] = "User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>User</h3>
@* Main informations (name, producer) *@
@*<input type="hidden" asp-for="SelectedUser.Id" />*@
<div class="form-group">
    <label asp-for="SelectedUser.UserName"></label>
    <input class="form-control" asp-for="SelectedUser.UserName" disabled />
</div>

@* Boolean information *@
<form method="post">
    <div class="form-group">
        <div>
            Authorization roles:
        </div>

        @for (var i = 0; i < Model.AvailableRoles.Count; i++)
        {
            <div class="form-check form-check-inline">
                @if (Model.CurrentRoles.Contains(@Model.AvailableRoles[i].Name))
                {
                    <input class="form-check-input" name="SelectedRoles" type="checkbox" value="@Model.AvailableRoles[i].Name" id="@Model.AvailableRoles[i].Id" checked="checked" />
                }
                else
                {
                    <input class="form-check-input" name="SelectedRoles" type="checkbox" value="@Model.AvailableRoles[i].Name" id="@Model.AvailableRoles[i].Id" />
                }
                <label class="form-check-label" for="@Model.AvailableRoles[i].Id">@Model.AvailableRoles[i].Name role</label>
            </div>
        }
    </div>
    <button class="btn btn-outline-info">Save changes</button>
</form>
@if (!Model.SelectedUser.EmailConfirmed)
{
    <a class="btn btn-outline-success mt-3" asp-page="./UserVerify" asp-route-userId="@Model.SelectedUser.Id">Verify user e-mail</a>
}
<a class="btn btn-outline-danger mt-3" asp-page="./UserDelete" asp-route-userId="@Model.SelectedUser.Id">Delete user</a>

